#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  color: white;

  margin-top: 50px;
  padding-inline: 20vh;
  gap: 10px;
}

.logo {
  width: 43.06px;
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 33px;
  margin-left: 10%;
}

ul li {
  list-style: none;
  text-align: center;
  transition: .35s ease-in-out;
}

ul li a {
  text-align: center;
  text-decoration: none;
  color: white;
}

ul li:hover {
  transform: scale(1.1);
}

ul:hover > :not(:hover) {
  opacity: .4;
  transform: scale(0.9);
}