#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  color: white;

  margin-top: 50px;
  padding-inline: 20vh;
  gap: 10px;
}

.logo {
  width: 43.06px;
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 33px;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
}