* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  font-family: 'Manrope', sans-serif;
}

body {
  background-color: #000;
}

#light-left {
  position: fixed;
  left: -30%;
  bottom: -100%;
  z-index: -1;
}

#light-right {
  position: fixed;
  right: -42%;
  bottom: 30%;
  z-index: -1;
}