/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Manrope', sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: auto;
}


/* ===== Scrollbar CSS ===== */

/* Firefox */
* {
  scrollbar-width: 5px;
  scrollbar-color: #7c47b9;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #7c47b9;
  border-radius: 10px;
}

/* Global */

body {
  background-color: black;
  background-image: url(assets/bg-desktop.jpg);
  background-repeat: no-repeat;
  background-size: 100vw auto;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

.textImg {
  margin-top: -20px;
}

.textImg {
  width: 45%;
}


#coffeeImg img {
  width: 65%;
}


/* LUZES BG */

.light-bottom {
  position: fixed;
  left: -50%;
  bottom: -1660px;
  z-index: -1;
}