/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Manrope', sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
}


/* ===== Scrollbar CSS ===== */

/* Firefox */
* {
  scrollbar-width: 5px;
  scrollbar-color: #7c47b9;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #7c47b9;
  border-radius: 10px;
}

/* Global */

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

body .loading {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #000;
}

.textMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.textMainSecundary {
  margin-top: -20px;
}

.textMainSecundary img {
  width: 550px;
}


#coffeeImg img {
  width: 900px;
}


/* LUZES BG */

.light-left {
  position: fixed;
  left: -100%;
  bottom: -1600px;
  z-index: -1;
}

.light-right {
  position: fixed;
  right: -100%;
  bottom: -100px;
  z-index: -1;
}